body {
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #573b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #6d44b8;
  }
  
  /* Lista de usuários */
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    background-color: #444;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  /* Alteração para o título "Usuários Criados" aparecer abaixo */
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  